<%- include("partials/header") %>

<div class="container my-5">
  <div class="row align-items-center">
    <form action="/create" method="POST" class="col-md-5">
      <h1>New Post</h1>
      <div class="mb-3">
        <input
          name="title"
          type="text"
          class="form-control"
          placeholder="Give your story a name"
        />
      </div>
      <div class="mb-3">
        <textarea
          name="post"
          class="form-control"
          placeholder="Start writing your thoughts…"
          rows="4"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Publish</button>
    </form>

    <div class="position-fixed-image">
      <img src="/images/flower.png" alt="flower" />
    </div>
  </div>
</div>
<%- include("partials/footer") %>
